body
{
	background-color:rgb(0,255,255);
}
a
{
	text-decoration:none;
}
a:hover
{
	text-decoration:underline;
}
h1
{
	color:white;
	text-align:center;
	background-color:black;
}
table
{
	border-collapse:collapse;
}
td,th
{
		border:2px solid blue;
}
#biographie
{
		height:250px;
		width:200px;
}
nav
{
	margin-left:10px;
	border:2px solid blue;
	width:160px;
}
ul
{
	margin-left:10px;
	border:2px solid blue;
	width:160px;
}
span
{
	color:rgb(50,0,100);
}
ol
{
	color:green;
}
header
{
	background-color:blue;
	height:136px;
	font-style:italic;
	color:white;
}
video
{
	width:300px;
	height:300px;
}
.image
{
	margin-left:220px;
	margin-top:800px;
	width:500px;
	height:500px;
}
.sing
{
	color:red;
}
.vinho
{
	color:white;
}
.elvin
{
	color:rgb(179,9,0);
}
.op a
{
	color:white;
	background-color:black;
}
.col
{
	color:white;
}
